.enter {
  opacity: 0;
  pointer-events: none;
}

.enterActive {
  opacity: 1;
  transition: 300ms opacity;
  pointer-events: none;
}

.enterDone {
  opacity: 1;
  pointer-events: active;
}

.exit {
  opacity: 1;
  pointer-events: none;
}

.exitActive {
  transition: 300ms opacity;
  opacity: 0;
  pointer-events: none;
}

.exitDone {
  opacity: 0;
  pointer-events: none;
}
