@value breakpoints: '../../styles/breakpoints.module.css';
@value bp1 from breakpoints;

@value colors: '../../styles/colors.module.css';
@value whiteAlice, whiteAliceDark, whiteAliceBorder, mapGreenspace, mapWater, mapWaterLight, mapRoadsDark, mapBaseLight, mapBase, mapRoads, mapRoadsLight, primary, primaryHover, primaryActive, darkGray, veryDarkGray, mediumGray, lightGray, veryLightGray from colors;

.container {
  width: auto;
  margin: 10px;
  top: 70px;
  z-index: 1;
  background: none;
}

.suggestion {
  display: block;
  position: relative;
  background: whiteAlice;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid mapRoadsLight;
  text-align: left;
}

.services {
  margin-top: 5px;
  background: whiteAliceDark;
  color: mapBase;
  padding: 6px;
  border: 1px solid whiteAliceBorder;
  border-radius: 5px;
}

.servicesText {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  color: mapBase;
}

.name {
  font-size: 1.4em;
  font-weight: 800;
  color: mapBase;
  font-family: 'Roboto Slab';
}

.secondaryLine {
  font-family: 'Roboto Condensed';
  margin-top: 5px;
  font-size: 1em;
  color: mapBase;
  text-transform: uppercase;
}

.seeRest {
  font-family: 'Roboto Condensed';
  margin: 5px;
  font-size: 1.2em;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: mapBase;
}

.seeRestText {
  font-size: 1.2em;
}

.location {
  display: inline;
  font-weight: 900;
}

@media screen and (min-width: bp1) {
  .container {
    margin: 10px 0 10px 0;
  }
}
