.buttonsContainer {
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.buttonContainer {
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  padding-right: 5px;
}

.buttonContainer:last-child {
  padding-right: 0;
  padding-left: 5px;
}

.third {
  padding-right: 6.666px;
  padding-left: 0;
}

.third:not(:first-child) {
  padding-left: 3.333px;
  padding-right: 3.333px;
}

.third:last-child {
  padding-left: 6.666px;
  padding-right: 0;
}

.button {
  font-family: 'Roboto Condensed';
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 900;
  height: 35px;
  width: 100%;
  transition: 0.3s background, 0.3s color, 0.3s border;
}

.icon {
  margin: 0;
}

.text {
  display: inline-block;
  margin-left: 4px;
}
