.enter {
    opacity: 0;
    max-height: 0;
    padding: 0;
} 

.enterActive {
    opacity: 1;
    max-height: 300px;
    transition: 300ms all;
}

.exit {
    max-height: 300px;
    opacity: 1;
}

.exitActive {
    opacity: 0;
    max-height: 0;
    padding: 0;
    transition: 300ms all;
}

.exitDone {
    opacity: 0;
    max-height: 0;
    padding: 0;
    display: none;
}