.enter {
  transform: translate(calc(50vw - 50%), -0);
}

.enterActive {
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
  /* transition: 300ms transform, 300ms margin-top; */
}

.exit {
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.exitActive {
  transform: translate(calc(50vw - 50%), 0);
  margin-top: 65px;
  /* transition: 300ms transform, 300ms margin-top; */
}

.exitDone {
  transform: translate(calc(50vw - 50%), 0);
  margin-top: 65px;
}
