@value breakpoints: '../../styles/breakpoints.module.css';
@value bp1 from breakpoints;

@value colors: '../../styles/colors.module.css';
@value mapBase, mapRoads, mapRoadsLight, borderGray, whiteAlice, darkGray, mediumGray, primary, primaryHover, primaryActive from colors;

.container {
  position: relative;
  width: 100%;
  margin-top: 75px;
}

.title {
  font-family: 'Roboto Slab';
  font-size: 1.9em;
  text-align: center;
  font-weight: 700;
  color: whiteAlice;
}

.inputContainer {
  position: relative;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid mapRoads;
  background: whiteAlice;
}

.icon {
  margin-right: 10px;
}

.searchBarInput {
  display: block;
  outline: none;
  height: 50px;
  border: 0;
  width: 100%;
  padding: 0;
  font-family: 'Roboto Condensed';
  margin: 0;
  padding-left: 10px;
  padding-right: 50px;
  box-sizing: border-box;
  font-size: 1.1em;
  background: none;
  color: mapBase;
}

.searchBarInput::placeholder {
  opacity: 0.9;
  color: mapRoads;
}

.filterBoxContainer {
  margin: 10px;
  margin-top: 0;
  padding-top: 5px;
  background: whiteAlice;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid mapRoads;
}

@media screen and (min-width: bp1) {
  .container {
    position: absolute;
    width: 400px;
    left: 50%;
    margin-left: -200px;
  }
}
